{% extends "base.html" %}


{% block script %}

<script>
$(document).ready(function() {
	$('#recruited').hide();
	$('#id_approved').change(function () {	
		$('#recruited').toggle();
		$('#teamprefs').toggle();
	});
});
</script>

{% endblock %}

{% block content %}
<div id="preferences">
	<form action="" method="post">{% csrf_token %}
		{{ form.non_field_errors }}		
		<div class="availability">
		<h2>Availability</h2>
		{% for field in form|slice:":7" %}
			{{ field.errors }}
		 <p>   {{ field.label }} {{ field }}	</p>	
		{% endfor %}
		</div>
		
		
 

		<h2>Team Preferences</h2>
		{% for field in form|slice:"7:9" %}
			{{ field.errors }}
			<p> {{ field }} {{ field.label }}<br>
			{{ field.help_text }} </p>		 
		{% endfor %}
		
		<div id="recruited">		
		{% for field in form|slice:"9:11" %}
			{{ field.errors }}
			<p>{{ field.label }} {{ field }}<br>
			{{ field.help_text }} </p>		 
		{% endfor %}
		</div>
		
		<div id="teamprefs">		
		{% for field in form|slice:"11:" %}
		
			{{ field.errors }}
			{{ field.label_tag }} <br> {{ field }}
			<p>{{ field.help_text }} </p>
		
		{% endfor %}
		</div>
		
		<input type="submit" value="Complete Application" />
	</form>
</div>
{% endblock %} 


		
		
