{% extends "staffbase.html" %}

{% block content_title %} <h1>{{ this_team }} Volunteer List</h1> {% endblock %}
{% block script %}
<script>
function formSubmit()
{
document.forms["suggestform"].submit();
}
</script>
{% endblock%}

{%block sidebar%}<div margin="auto"><button type="submit" onclick="formSubmit()" class="btn btn-primary center" name="suggestform" >Submit Changes</button></div>{%endblock%}
{% block content %}


<h3>Suggested Volunteers</h3>

<form method="POST" name="suggestform" >{% csrf_token %}

	{{ formset.management_form }}
	{% for form in formset %}
	<table>
		{{form.as_table}}
		</table><hr>
		{% endfor %}

	<button type="submit" class="btn btn-primary" name="suggestform">Submit Changes</button>
</form> 



{% endblock %}