{% extends "staffbase.html" %}

{% block content_title %} <h1>{{ this_team }} Suggested Volunteers</h1> {% endblock %}

{% block content %}

<ul>
	<form method="POST" >{% csrf_token %}
{% for volunteer in suggested_volunteer_list %}
	<li><a href="{% url 'Volunteer.views.volunteer_detail_view' this_team.id volunteer.id %}"<h3> {{ volunteer.first_name }}{% if volunteer.playa_name %} "{{ volunteer.playa_name }}"{% endif %} {{ volunteer.last_name }} </h3></a>
<br>{% if volunteer.ass %} This Volunteer has requested extra responsibility.<br>{%endif%}
<input type="radio" name="{{ volunteer.id }}" value="" checked>No Change
<input type="radio" name="{{ volunteer.id }}" value="Accept">Accept
<input type="radio" name="{{ volunteer.id }}" value="Reject">Reject


	<ul>
		<li>Birthdate: {{ volunteer.birthdate }}
		<li>Disability: {{ volunteer.disability  }} </li>
		<li>Attended a Burning Man event before? {{ volunteer.attended_BM }}</li>
		{% if  volunteer.v_YOUtopia %} <li> YOUtopia Experience: </li> <p>{{volunteer.vexp_YOUtopia}} </p>{% endif %}
		{% if volunteer.v_other %} <li> Other Festival Experience: </li> <p> {{volunteer.vexp_other}} </p>{% endif %}
		
		<li>Super Powers:</li><p> {{ volunteer.super_powers }} </p>
		<li>Comments: {{ volunteer.jokes }}</li>
		<li>Notes: {{ volunteer.notes }} </li>
		{% if volunteer.avail_tu %}<li>Available Tuesday, October 13th {% endif %}</li>
		{% if volunteer.avail_w %}<li>Available Wednesday, October 14th {% endif %}</li>
		{% if volunteer.avail_th %}<li>Available Thursday, October 15th {% endif %}</li>
		{% if volunteer.avail_f %}<li>Available Friday, October 16th {% endif %}</li>
		{% if volunteer.avail_sa %}<li>Available Saturday, October 17th {% endif %}</li>
		{% if volunteer.avail_su %}<li>Available Sunday, October 18th {% endif %}</li>
		{% if volunteer.avail_m %}<li>Available Monday, October 19th {% endif %}</li>

	</ul></li>
	
{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
<button type="submit" class="btn btn-primary">Submit Changes</button>
</form> 



{% endblock %}



