{% extends "staffbase.html" %}

{% block content_title %} <h1>{{ this_team }} Suggested Volunteers</h1> {% endblock %}

{% block content %}

<ul>
	<form method="POST" >{% csrf_token %}
{% for volunteer in suggested_volunteer_list %}
	<h3>{% include "volunteer_name.html" %}</h3>
	{% if volunteer.approved_by %}<br>Approved by {{volunteer.approved_by}}<br>{%endif%}
<input type="radio" name="{{ volunteer.id }}" value="" checked>No Change
<input type="radio" name="{{ volunteer.id }}" value="Accept">Accept
<input type="radio" name="{{ volunteer.id }}" value="Reject">Reject
	{% include "volunteer_info.html" %}

	
	
{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
<button type="submit" class="btn btn-primary">Submit Changes</button>
</form> 



{% endblock %}



