{% extends "staffbase.html" %}

{% block content_title %} <h1>{{ this_team }} Volunteer List</h1> {% endblock %}
{% block script%} 
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}

{% block content %}

<div>
<h3>Tuesday,October 13th </h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_tu %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>

<div>
<h3>Wednesday, October 14th</h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_w %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>

<div>
<h3>Thursday, October 15th</h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_th %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>

<h3>Friday, October 16th</h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_f %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>

<h3>Saturday, October 17th</h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_sa %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>

<h3>Sunday, October 18th</h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_su %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>

<h3>Monday, October 19th</h3>
<ul>
{% for volunteer in approved_volunteer_list %}
	{%if volunteer.avail_m %}
    <li>{{ volunteer.first_name }} {% if volunteer.playa_name %}"{{ volunteer.playa_name }}" {% endif %}{{ volunteer.last_name }} {{volunteer.phone }} {{volunteer.email}}  </li>
	{%endif%}
	
	{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
</div>
{% endblock %}


