<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



{% block stylesheet %} <link rel="stylesheet" type="text/css" href="https://a8d9f88f805ab056e0bae5e38e51d4e8f4a43f88.googledrive.com/host/0B_H2S5XTeXeSfkc3UGQzc2FHSXFvc0ZkMDQ5WUwtdUw4STBUOW0wNGpsZUM2eTZUY2FtSDg/style.css" /> {% endblock %}
<title>{% block title %}YOUtopia Volunteer Management{% endblock %}</title>

{%block script %} {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 s
	upport of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}
<div class="container-fluid">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}<a href="http://www.sdyoutopia.com"><img class="img-rounded img-responsive" src="http://i.imgur.com/el3fD8M.jpg"></img></a>{% endblock %}
        </div>
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}<h1>YOUtopia 2015 Volunteer Application</h1>{% endblock %}
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
		{% block postcontent %} {% endblock%}
        <br class="clear" />
    </div>
    <!-- END Content -->
    
     {% block footer %}<div id="footer"></div>{% endblock %}   
</div>
{% endblock %}
</body>

</html>