{% extends "base.html" %}

{% block content %}
<div id="preferences">
 {% for field in form.availability %}
    <div class="availability">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

{% for field in form.teams_prefs %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
		{{ field.help_text }}
    </div>
{% endfor %}

</form>
</div>
{% endblock %} 


	<form action="" method="post">{% csrf_token %}
		{{ form.as_li }}
		
		
		<input type="submit" value="Submit" />