{% extends "staffbase.html" %}

{% block content_title %} <h1>{{ this_team }} Volunteer List</h1> {% endblock %}

{% block content %}


<h3>Approved Volunteers </h3>

<ul>
{% for volunteer in approved_volunteer_list %}
    <li><button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-ban-circle" data-toggle="modal" data-target="#{{volunteer.id}}"></button> {% if volunteer.playa_name %} "{{ volunteer.playa_name }}" : {% endif %} {{ volunteer.first_name }}  {{ volunteer.last_name }}  </li>


{% empty %}
    <li>No volunteers yet.</li>
{% endfor %}
</ul>
{% endblock %}

{% block postcontent %} 
{% for volunteer in approved_volunteer_list %}
<div class="modal fade" id="{{volunteer.id}}" role="dialog">
<div class="modal-dialog">
    
<!-- Modal content-->
<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Remove{{ volunteer.first_name }}{% if volunteer.playa_name %} "{{ volunteer.playa_name }}"{% endif %} {{ volunteer.last_name }} from team?</h1>
        </div>
        <div class="modal-body">
          <h2>Are you sure you want to remove {{ volunteer.first_name }}?</h2>
        </div>
        <div class="modal-footer">
		<form method="POST" >{% csrf_token %}
<button type="submit" name="Remove" value="{{volunteer.id}}" class="btn btn-danger">Remove</button>
</form> 
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
{% endfor %}
{% endblock %}


