{% extends "base.html" %}

{% block content %}
Thank you very much for your interest in volunteering for YOUtopia 2015! 
Our mutual participation as volunteers helps make YOUtopia the magical place it is. EVERYONE who attends YOUtopia volunteers in some way, whether by assisting their theme camp or helping a fellow participant. 

Please submit your application *only* if you are confident in your ability to commit to volunteering your helping hands and heart for the specific teams designated below for a total of between 16-20 hours. 


<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %} 